h1 {
  margin-left: 50px;
}

input {
  margin-left: 50px;
  margin-top: 15px;
}
span {
  margin-left: 50px;
  margin-top: 15px;
}
textarea {
  margin-left: 50px;
  margin-top: 15px;
}
button {
  margin-left: 50px;
}
@media screen and (max-width: 750px) {
  .contact {
    display: inline-block;
  }
  #lastname {
    margin-left: 45px;
  }
}
