input {
  margin-left: 50px;
  margin-top: 15px;
}
span {
  margin-left: 50px;
  margin-top: 15px;
}
textarea {
  margin-left: 50px;
  margin-top: 15px;
}
button {
  margin-left: 50px;
}
@media screen and (max-width: 750px) {
  .contact {
    display: flex;
    flex-direction: column;
  }
  h1 {
    text-align: center;
  }
  p {
    text-align: center;
  }
}
