.loader {
  position: absolute;
  top: -20%;
  left: 40%;
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
}

@keyframes load {
  0%,
  100% {
    color: black;
    transform: translateY(0);
  }
  50% {
    color: #2163dd;
    transform: translateY(20px);
  }
  25% {
    color: rgb(238, 32, 32);
    transform: translateX(10px) translateY(10px);
  }
}

span {
  font-size: 60px;
  --delay: 0s;
  animation: load 1.2s var(--delay) infinite ease-in;
}

@media screen and (max-width: 750px) {
  .loader {
    position: absolute;
    top: 20%;
    left: 40%;
    display: flex;
  }
  span {
    font-size: 20px;
  }
}
